.container-comics{
    background-color: black;
    #products{
        width: 1200px;
        margin: 0 200px;
        h1{
            color: white;
            background-color: dodgerblue;
            width: 125px;
            padding: 10px;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            .card{
                width: calc(100% / 6 - 20px);
                margin: 0 10px;
                h3{
                    color: white;
                }
            }
        }
    }
}