@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 100px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

header ul li {
  margin: 0 20px;
}

header ul li img {
  height: 60px;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header ul li a:hover {
  color: dodgerblue;
}

.first-footer {
  height: 400px;
  background-image: url("/images/footer-bg.jpg");
}

.first-footer .container {
  width: 1200px;
  margin: 0 200px;
}

.first-footer .container .row {
  display: flex;
  justify-content: space-between;
}

.first-footer .container .row .first-col {
  display: flex;
}

.first-footer .container .row .first-col ul {
  list-style-type: none;
}

.first-footer .container .row .first-col ul a {
  text-decoration: none;
  color: lightgray;
}

.first-footer .container .row img {
  height: 400px;
}

.second-footer {
  height: 100px;
  background-color: #303030;
}

.second-footer .container {
  width: 1200px;
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
}

.second-footer .container ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.second-footer .container ul li {
  margin: 0 10px;
}

.second-footer .container ul li a {
  text-decoration: none;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 400px;
  background-size: cover;
}

