@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 100px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

header ul li {
  margin: 0 20px;
}

header ul li img {
  height: 60px;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header ul li a:hover {
  color: dodgerblue;
}

.second-sec {
  height: 100px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
}

.second-sec ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.second-sec ul li {
  margin: 0 10px;
}

.second-sec ul li a {
  text-decoration: none;
  color: white;
}

